tml, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("anime-girl-falling-school-uniform-balloon-4k-om.jpg");
    background-position: top;
    background-size: cover;
    position: absolute;
    font-family: sans-serif;
}
.chat_box, .msg_box {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    right: 20px;
    background: white;
    width : 250px;
/*height: 400px;*/
    border-radius: 5px 5px 0px 0px;
}
.msg_box {
/*height: 350px;*/
    bottom: -5px;
}
.chat_head,.msg_head {
    background: #f39c12;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
/*position: fixed;*/
}
.chat_body {
    height: 400px;
}
.user {
    padding: 20px 25px;
    position: relative;
    cursor: pointer;
}
.user:hover {
    background: #f8f8f8;
}
.user:before {
    content: "";
    position: absolute;
    background-color: #2ecc71;
    width: 10px;
    height: 10px;
    left: 8px;
    top: 24px;
    border-radius: 50%;
}
.msg_head {
    background: #3498db;
}
.close {
    float: right;
}
.msg_body {
    height: 250px;
    font-size: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #bdc3c7;
}
.msg_input {
    border-color: transparent;
    border-top: 1px solid silver;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.msg_a {
    margin-top: 10px;
    margin-right: 20px;
    min-height: 20px;
    padding: 15px;
    background: #99ffcc;
    margin-left: 20px;
    position: relative;
    border-radius: 5px;
    color: white;
}
.msg_a:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 7px;
    left: -30px;
    border: 15px solid;
    border-color: transparent #99ffcc transparent transparent;
}
.msg_b {
    margin-top: 10px;
    width: auto;
    margin-right: 20px;
    min-height: 20px;
    padding: 15px;
    background: #ffff99;
    margin-left: 20px;
    position: relative;
    border-radius: 5px;
    color: black;
}
.msg_b:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 7px;
    right: -30px;
    border: 15px solid;
    border-color: transparent transparent transparent #ffff99;
}